---
import homeImage2 from '@/assets/images/about-2.webp';
import homeImage1 from '@/assets/images/about.webp';
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import './homeAbout.css';
---

<section class="about wrapper margin-bottom">
  <div class="about__content">
    <p class="about__subtitle">About Us</p>
    <div class="about__bg">
      <h3 class="about__title">Discover Our Underground.</h3>
      <p class="about__description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat.
      </p>
      <button class="button" aria-label="button to book now">Book Now</button>
    </div>
  </div>

  <div class="about__images">
    <article class="card card--order">
      <Image
        width={400}
        height={220}
        class="card__image card__image--order"
        src={homeImage1}
        alt="hotel look"
      />

      <div class="card__content card__content--bg">
        <Icon class="card__content-image" name="cardPeople" />

        <h3 class="card__content-title">Strong Team</h3>
        <p class="card__content-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
        </p>
      </div>
    </article>
    <article class="card">
      <Image width={300} height={360} class="card__image" src={homeImage2} alt="hotel look" />

      <div class="card__content card__content--dark">
        <Icon class="card__content-image" name="calendar" />
        <h3 class="card__content-title">Luxury Room</h3>
        <p class="card__content-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
        </p>
      </div>
    </article>
  </div>
</section>
