---
import './instroVideo.css';
---

<section class="intro">
  <div class="intro__container wrapper">
    <div class="intro__content">
      <p class="intro__subtitle">Intro video</p>
      <h2 class="intro__title">Meet With Our Luxury Place.</h2>
      <p class="intro__description">
        pLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat you have to understand this.
      </p>
      <button class="intro__button intro__button--desk">Book Now</button>
    </div>
    <div class="intro__video-container">
      <video class="intro__video" src="./hotel_miranda.mp4" controls></video>

      <button class="intro__button intro__button--mobile">Book Now</button>
    </div>
  </div>
</section>
