---
import './checkAvailability.css';
---

<section class="date">
  <form class="date__form wrapper">
    <div class="date__form-inputs">
      <input class="date__form-input" type="date" name="arrival" id="arrival" />
      <input class="date__form-input" type="date" name="depurate" id="depurate" />
    </div>
    <button class="date__form-submit" type="submit">Check availability</button>
  </form>
</section>
