---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Contact">
  <section class="contact wrapper">
    <h1 class="contact__title">Contact</h1>
    <p class="contact__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
      fugiat nulla pariatur.
    </p>
  </section>
</Layout>
