---
import HeroSection from '@/components/hero-section/HeroSection.astro';
import OfferCard from '@/components/offer-card/OfferCard.astro';
import Layout from '@/layouts/Layout.astro';
import './offerPage.css';

const OFFER_ROOMS = [1, 2, 4, 5];
---

<Layout title="Offers">
  <HeroSection backGroundImage="/images/offer-bg.webp" subtitle="The Ultimate Luxury" title="Our Offers" />

  <div class="offers wrapper">
    {OFFER_ROOMS.map(offer => <OfferCard />)}
  </div>
</Layout>
