.offers {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));

  gap: 1rem;

  @media screen and (min-width: 512px) {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
  @media screen and (min-width: 750px) {
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  }
}
