---
import { Icon } from 'astro-icon/components';
import './benefies.css';
---

<div class="benefies">
  <div class="benefies__list wrapper">
    <article class="benefie">
      <Icon name="rocket" class="benefie__img" />

      <div class="benefie__content">
        <h2 class="benefie__title">84K</h2>
        <span class="benefie__subtitle">Projects are Completed</span>
      </div>
    </article>

    <article class="benefie">
      <Icon name="people" class="benefie__img" />

      <div class="benefie__content">
        <h2 class="benefie__title">10M+</h2>
        <span class="benefie__subtitle">Active Backers Around World</span>
      </div>
    </article>

    <article class="benefie">
      <Icon name="grafic" class="benefie__img" />

      <div class="benefie__content">
        <h2 class="benefie__title">02K+</h2>
        <span class="benefie__subtitle">Idea Raised Funds</span>
      </div>
    </article>

    <article class="benefie">
      <Icon name="book" class="benefie__img" />

      <div class="benefie__content">
        <h2 class="benefie__title">100Mk+</h2>
        <span class="benefie__subtitle">Categories Served</span>
      </div>
    </article>
  </div>
</div>
