---
import CheckAvailability from '@/components/home/check-availability/CheckAvailability.astro';
import HomeAbout from '@/components/home/home-about/HomeAbout.astro';

import CoreFeatures from '@/components/core-features/CoreFeatures.astro';
import Benefies from '@/components/home/benefies/Benefies.astro';
import Foods from '@/components/home/foods/Foods.astro';
import IntroVideo from '@/components/home/intro-video/IntroVide.astro';
import { EmblaCarousel } from '@/components/react/EmblaCarousel';
import Layout from '../layouts/Layout.astro';
import './home.css';
---

<Layout title="Hotel Miranda">
  <section>
    <section class="home">
      <div class="home__content wrapper">
        <span class="home__subtitle">THE ULTIMATE LUXURY EXPERIENCE</span>
        <h2 class="home__title">The Perfect Base For You</h2>

        <div class="home__tbns">
          <a class="home__btn home__btn--mustard" href="#">Take a Tour</a>
          <a class="home__btn" href="#">Learn more</a>
        </div>
      </div>
    </section>
  </section>

  <CheckAvailability />
  <HomeAbout />

  <EmblaCarousel client:only="react" />

  <IntroVideo />
  <CoreFeatures />

  <Foods />

  <Benefies />
</Layout>
