---
import HeroSection from '@/components/hero-section/HeroSection.astro';
import RoomCard from '@/components/room-card/RoomCard.astro';
import { ROOMS_MOCK } from '@/constants/navLinks';
import Layout from '@/layouts/Layout.astro';
import './rooms.css';

const ROOMS = ROOMS_MOCK;
---

<Layout title="Rooms">
  <HeroSection backGroundImage="/images/room-bg.webp" subtitle="The Ultimate Luxury" title="Ultimate Room" />

  <div class="rooms-grid wrapper">
    {ROOMS.map(room => <RoomCard {...room} />)}
  </div>
</Layout>
