.header {
  position: relative;

  z-index: 2;
  .header__container {
    padding: 0.5em 1em;
    background-color: var(--white-color);
    box-shadow: var(--box-shadow);

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__content {
    display: flex;
    align-items: center;
    gap: 1em;
    @media screen and (min-width: 768px) {
      gap: 6em;
    }
  }
  .header__actions {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  .header__toggle {
    border: 0;

    transition: all 0.3s ease;
    @media screen and (min-width: 768px) {
      display: none;
    }
    .header__toggle--hidden {
      display: none;
    }
  }
  .header__logo {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  .header__image {
    font-size: 2.5rem;
  }
  .header__title {
    font-size: clamp(0.7rem, 2vw, 1rem);
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
  }

  .header__list {
    display: flex;
    gap: 1em;
  }
  .header__icon {
    width: 2rem;
    font-size: 1.5rem;
  }

  .header__link {
    width: 1.5em;
  }

  .header__nav {
    @media screen and (max-width: 768px) {
      z-index: -1;

      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-100%);
      background-color: var(--white-color);
      width: 100%;
      padding: 0.5em;
    }
    .header__nav-item {
      position: relative;
    }
    .header__nav-list {
      display: flex;
      flex-direction: column;
      gap: 1em;
      font-weight: 600;
      @media screen and (min-width: 768px) {
        flex-direction: row;
        gap: 1.3em;
      }
    }

    .header__nav-link {
      transition: all 0.3s ease;
      @media (hover: hover) {
        &:hover {
          color: var(--mustard-color);
        }
      }
    }
  }
  .header__nav--active {
    padding-top: 2rem;
    transform: translateY(40%);
    background-color: var(--white-color);
  }
  .header__close {
    border: 0;
    position: absolute;
    top: 2.5rem;
    left: 1.5rem;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}

#mobile-navigation {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  padding: 0.5rem;

  pointer-events: none;
  background-color: transparent;

  margin: 0;
  transition:
    transform 0.2s ease-out,
    opacity 0.2s ease-out;
  transition-behavior: allow-discrete;
  display: block;
  transform: translateY(-100%);

  @media screen and (min-width: 768px) {
    display: none;
  }
}
/* Opened POPOVER */
#mobile-navigation:popover-open {
  opacity: 1;
  pointer-events: all;
  transform: translateY(25%);
}

.header__mobile {
  position: relative;

  border: 0;
  width: 100%;
  height: 17rem;
  margin: 0;

  .header__mobile-list {
    padding: 3rem 1.5em;
    background-color: var(--white-color);
    box-shadow: var(--box-shadow);

    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  .header__mobile-item {
    position: relative;
    width: max-content;
  }
  .header__mobile-link {
    width: auto;
  }
}
.header__mobile:popover-open {
  opacity: 1;
  transform: translateX(0px);
}

.active {
  position: absolute;
  height: 0.229rem;
  bottom: -0.4rem;
  width: 100%;
  background-color: var(--mustard-color);
}
.mobile-active {
  width: 100%;

  background-color: var(--mustard-color);
  height: 0.229rem;
  position: absolute;
  bottom: -0.4rem;
}
