---
import './foods.css';
---

<section class="foods wrapper">
  <div class="foods__containe wrapper2">
    <p class="foods__subtitle">menu</p>
    <h3 class="foods__title old">Our Foods Menu</h3>
    <!-- slider -->
    <div class="foods__list">
      <!-- 1-->
      <article class="food a">
        <img class="food__img" src="/images/food/eggs_bacon.webp" loading="lazy" alt="food" />
        <div class="food__content">
          <h2 class="food__title old">Eggs & Bacon</h2>
          <p class="food__description">
            Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor.
          </p>
        </div>
      </article>
      <!-- 2 -->
      <article class="food b">
        <img class="food__img" src="/images/food/fruit_parfait.webp" loading="lazy" alt="food" />
        <div class="food__content">
          <h2 class="food__title old">Fruit Parfait</h2>
          <p class="food__description">
            Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor.
          </p>
        </div>
      </article>
      <!-- 3-->
      <article class="food c">
        <img class="food__img" src="/images/food/coffee.webp" loading="lazy" alt="food" />
        <div class="food__content">
          <h2 class="food__title old">Tea or Coffee</h2>
          <p class="food__description">
            Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor.
          </p>
        </div>
      </article>
      <!-- 4 -->
      <article class="food d">
        <img class="food__img" src="/images/food/marmalade.webp" loading="lazy" alt="food" />
        <div class="food__content">
          <h2 class="food__title old">Marmalade Selection</h2>
          <p class="food__description">
            Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor.
          </p>
        </div>
      </article>
      <!-- 5-->
      <article class="food e">
        <img class="food__img" src="/images/food/chia_oatmeal.webp" loading="lazy" alt="food" />
        <div class="food__content">
          <h2 class="food__title old">Chia Oatmeal</h2>
          <p class="food__description">
            Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor.
          </p>
        </div>
      </article>
      <!-- 6 -->
      <!-- <article class="food f">
        <img class="food__img" src="/images/food/cheese_plate.jpg" loading="lazy" alt="food" />
        <div class="food__content">
          <h2 class="food__title old">Cheese Plate</h2>
          <p class="food__description">
            Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor.
          </p>
        </div>
      </article> -->
    </div>
  </div>

  <!-- TOODO: SLIDER -->
  <div class="foods__images wrapper2">
    <div class="foods__slider">
      <ul class="foods__images-list">
        <li class="foods__images-item">
          <img class="foods__images-img" src="/images/food/eggs_bacon.webp" alt="image food" loading="lazy" />
        </li>
        <li class="foods__images-item">
          <img class="foods__images-img" src="/images/food/eggs_bacon.webp" alt="image food" loading="lazy" />
        </li>
        <li class="foods__images-item">
          <img class="foods__images-img" src="/images/food/eggs_bacon.webp" alt="image food" loading="lazy" />
        </li>
      </ul>
    </div>
  </div>
</section>
