---
import { CORE_FEATURES } from '@/constants/navLinks';
import FeatureCard from '../feature-card/FeatureCard.astro';
import './coreFeatures.css';
type Props = {
  isDark?: boolean;
};
const { isDark } = Astro.props;
const featuresClass = isDark && 'features--dark';
---

<section class={`features ${featuresClass} margin-bottom`}>
  <div class="wrapper">
    <p class="features__subtitle">Facilities</p>
    <h3 class="features__title">Core Features</h3>
    <FeatureCard isDark={isDark} features={CORE_FEATURES} />
  </div>
</section>
