---
import Footer from '@/components/footer/Footer.astro';
import Header from '@/components/header/Header.astro';
import { ClientRouter } from 'astro:transitions';
import '../styles/reset.css';

interface Props {
  title?: string;
  preload?: boolean;
}

const { title, preload } = Astro.props;

const layOutTitle = title ?? 'Hotel Miranda';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.webp" />
    <meta name="generator" content={Astro.generator} />
    {preload && <link rel="preload" as="image" href="/images/bg-home-2.webp" />}
    <title>{layOutTitle}</title>
    <ClientRouter />
  </head>
  <body>
    <Header />

    <slot />

    <Footer />
  </body>
</html>

<style is:global>
  .wrapper {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
  .button {
    color: var(--white-color);
    background-color: var(--tbn-color);
    width: 13.5rem;
    height: 3.75rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }
  .rooms-grid {
    padding: 1rem;
    margin-bottom: 7.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1.875rem;
  }
  .margin-bottom {
    margin-bottom: 7rem;
  }
  .btn-mustard {
    background-color: rgb(129 116 91);
    outline: none;
    /* color: var(--black-color); */
  }
</style>
