---
import { Icon } from 'astro-icon/components';
import './offerCard.css';
---

<article class="offer">
  <div class="offer__image">
    <img class="offer__img" src="./images/rooms/big/room-big2.webp " alt="room 2" />
  </div>

  <div class="offer__content">
    <div class="offer__header">
      <div>
        <span class="offer__subtitle title">Double Bed</span>
        <h2 class="offer__title old">Luxury Double Bed</h2>
      </div>
      <div class="offer__prices---desk">
        <span class="offer__price offer__price--original">$500/night</span>
        <span class="offer__price offer__price--offer">$345/night</span>
      </div>
    </div>
    <p class="offer__description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat. Duis aute irure dolor in reprehend erit in voluptate velit esse cillum dolore
      eu fugiat nulla pariatur.
    </p>
    <ul class="offer__aminities roboto">
      <li class="offer__aminitie">
        <Icon name="snow" class="offer__icon" />
        <span>Air conditioner</span>
      </li>
      <li class="offer__aminitie">
        <Icon name="wifi" class="offer__icon" />
        <span>High speed WiFi</span>
      </li>
      <li class="offer__aminitie">
        <Icon name="wifi" class="offer__icon" />
        <span>Breakfast</span>
      </li>
      <li class="offer__aminitie">
        <Icon name="kitchen" class="offer__icon" />
        <span>Kitchen</span>
      </li>
      <li class="offer__aminitie">
        <Icon name="cleaning" class="offer__icon" />
        <span>Cleaning</span>
      </li>
      <li class="offer__aminitie">
        <Icon name="shower" class="offer__icon" />
        <span>Shower</span>
      </li>
      <li class="offer__aminitie">
        <Icon name="grocery" class="offer__icon" />
        <span>Grocery</span>
      </li>
      <li class="offer__aminitie">
        <Icon name="bed" class="offer__icon" />
        <span>Single bed</span>
      </li>
      <li class="offer__aminitie">
        <Icon name="shop" class="offer__icon" />
        <span>Shop near</span>
      </li>
      <li class="offer__aminitie">
        <Icon name="towels" class="offer__icon" />
        <span>Towels</span>
      </li>
    </ul>
    <button class="offer__btn">Book Now</button>
  </div>
</article>
